.App {
    font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
    font-weight: 400;
    line-height: 1.5;
    max-width: 1280px;
    width: 95%;
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    flex: 1 0 auto;
}
