$background-color: white;

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: $background-color;
  color: grey;
  margin: 0;

  header {
    background-color: cornflowerblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 15px;

    h1, h3 {
      margin: 3px;
    }
    h1 {
      font-size: 24px;
    }
    h3 {
      font-size: 20px;
    }
  }
}
